@use "~/styles/global" as g;

.container {
  width: 100%;
  height: auto;
  padding: 25px 0;
  border-radius: 5px;
  display: grid;
  overflow: hidden;
  grid-template: "icon message" 1fr / 50px 1fr;

  &.errorKind {
    color: g.$color-white;
    background: g.$service-color-strong;
  }
}

.icon {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 30px;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: message;
  padding: 0 10px 0 0;
}
