@use "sass:math";
@use "sass:color";
@use "~/styles/global" as g;

.homePage {
  padding: 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.homePageBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - #{g.$footer-height});
  width: 100%;
  overflow: hidden;
}

.homePageContent {
  z-index: 1;
  height: calc(100vh - #{g.$footer-height});
  width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}

.submit {
  border-radius: 40px;
  padding: 20px 60px;
  border: none;
  outline: none;
  box-shadow: 0 4px 5px color.adjust(g.$color-black, $lightness: 65%);
  margin: 30px 0 0;
}

.aizen {
  font-size: 40px;
}

.question {
  font-size: 13px;
}

.searchWordInput {
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
}

.formContainer {
  $-height: 50%;
  $-width: 90%;

  position: absolute;
  top: calc(50% - #{math.div($-height, 2)});
  left: calc(50% - #{math.div($-width, 2)});
  height: $-height;
  width: $-width;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  backdrop-filter: blur(6px);
  border-radius: 30px;
}
