@use "~/styles/global" as g;

.pageContainer {
  padding: g.$header-height 0 0 0;
}

.header.header {
  height: g.$header-height;
  position: fixed;
  top: 0;
  left: 0;
  background: g.$header-bg-color;
}

.main {
  min-height: calc(100vh - (#{g.$header-height} + #{g.$footer-height}));
  min-height: calc(100dvh - (#{g.$header-height} + #{g.$footer-height}));
  background: g.$main-bg-color;

  * {
    scroll-margin-top: g.$header-height;
  }
}

.footer {
  height: g.$footer-height;
  background: g.$footer-bg-color;
}

.header,
.main,
.footer {
  width: 100%;
}
