name: main

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  main:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node and application
        uses: ./.github/actions/setup

      - name: run lint
        run: |
          yarn lint

      - name: run test
        run: |
          yarn test

  deploy:
    runs-on: ubuntu-20.04
    # if: github.ref == 'refs/heads/main'
    needs: main
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node and application
        uses: ./.github/actions/setup

      - name: build application
        run: |
          yarn build

      - name: deploy to application
        run: echo "NotImplemented"
